 body {
    background-color: rgb(209, 232, 224);
    margin:0px;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
}
.first_cloud {
    position:absolute;
    right:250px;
    top:50px;
}
.second_cloud {
    position:absolute;
    left:250px;
    bottom:250px;
}
div.top_container {
    padding-top: 100px;
    background-color: rgb(194, 217, 209);

}
.top_container h1 {
    /* font-family: 'Oleo Script Swash Caps', cursive; */
    font-family: 'Sacramento', cursive;
    font-size: 3rem;
    color:#66BFBF;
    line-height: 2;
}
.top_container h2 {
    font-size: 1.2rem;
    color:#66BFBF;
    /* font-weight: normal; */
}
.middle-container .profile img {
    border-style: ridge;
    border-width: 0.2rem;
    border-radius: 85px;
    width: 20%;
    height: auto;
}
.computer {
    width: 100px;
    height: auto;
}
.top_container h2 a {
    color: #11999E;
    text-decoration: none;
}
h2 {
    color: #66BFBF;
    font-weight: normal;
}
.footer-link a + a {
    color: #11999E;
}
h3 {
    color:#11999E
}
.middle-container .profile p {
    width: 50%;
    margin: auto;
}
div.skill-row {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
.skill-row img {
    width: 25%;
    height: 25%;
    float:left;
    padding-right: 40px;
    border-radius: 50%;

}
.skill-row .img_two {
    float:right;
    padding-left: 40px;
}
.skill-row p {
    line-height: 2;
}
.skill-row h3 {
    text-align: left;
}
.bottom-container a {
    font-weight: lighter;
    color: #11999E;
    
}
a.btn {
    padding: 3px;
    border: 5px;
    border-radius: 8px;
    background-color:rgb(48, 134, 134);
    width: 14%;
    border-style:groove; 
    color:#66BFBF;
}
a.btn:hover {
    position: relative;
    top: 2px;
}
hr {
    width: 5%;
    margin: auto;
    border: 6px dotted;
    border-top: none;
    color: rgb(90, 122, 20);
    margin: 100px auto 100px auto;
}
div.footer {
    background-color: #66BFBF;
    margin: 10px 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}